
/* Blend modes */

/* 
mix-blend-mode: normal;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: multiply;
mix-blend-mode: screen;
mix-blend-mode: overlay;
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light;
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity; */

/* CSS filters

filter: url(resources.svg#c1)
filter: blur(5px)
filter: brightness(0.5)
filter: contrast(200%)
filter: drop-shadow(16px 16px 10px black)
filter: grayscale(100%)
filter: hue-rotate(90deg)
filter: invert(100%)
filter: opacity(50%)
filter: saturate(200%)
filter: sepia(100%)
filter: contrast(175%) brightness(103%)

*/
