// DEBUG  ================================================

$debug-mode: false;
$debug-color: #40e0d0;
$debug-color-error: #f00;
$debug-color-warning: #ff0;
$debug-color-type: #da70d6;
$debug-color-action: #f66e00;
$debug-outline: 3px;
$debug-outline-thin: 1px;
$debug-outline-style: solid;
@mixin debug {
  outline: $debug-outline $debug-outline-style $debug-color-error;
}

// via inuit.css - https://github.com/csswizardry/inuit.css
@if $debug-mode==true {

  [class*="col-"] {
    outline: $debug-outline $debug-outline-style $debug-color  !important;
  }

  #wpadminbar {
    outline: none !important;
  }

  #primary {
    outline: 10px solid #ff69b4 !important;
  }

  :empty {
    //  outline: $debug-outline $debug-outline-style $debug-color;
  }

  img {
      outline: $debug-outline $debug-outline-style $debug-color-action !important;
  }

  img[alt] {
      //outline: none;
  }

  img[alt=""] {
      outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  a[title] {
    //@debugoutline: none;
  }

  a[href*="javascript"],
  a[href="#"] {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  a[target] {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  ol,
  ul {

    > *:not(li) {
      outline: $debug-outline $debug-outline-style $debug-color !important;
    }
  }

  th {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  th[scope] {
    //outline: none;
  }

  table > tr {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  tbody + tfoot {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  form {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  form[action] {
    outline: none;
  }

  input,
  textarea {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  input[type] {
    outline: none;
  }

  textarea[rows][cols] {
    outline: none;
  }

  input[type="submit"] {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  input[type="submit"][value] {
    outline: none;
  }

  [style] {
    //outline: $debug-outline $debug-outline-style $debug-color;
  }

  [id] {
    //outline: $debug-outline $debug-outline-style $debug-color;
  }

  article {
    //outline: $debug-outline-thin $debug-outline-style $debug-color;
  }

  aside,
  main,
  section {
    outline: $debug-outline $debug-outline-style $debug-color !important;
  }

  div,
  nav {
    outline: $debug-outline-thin $debug-outline-style $debug-color !important;
  }

  .container,
  .wrapper {
    outline: $debug-outline-thin $debug-outline-style $debug-color !important;
  }
}
