/* Utilities ((Critical: All) */

.align--center {
text-align: center;
}

.align--right {
text-align: right;
}

.block--start {
display: flex;
flex-direction: column-reverse;
gap: var(--grid-column-gap);
}

.block--end {
display: flex;
flex-direction: column;
gap: var(--grid-column-gap);
}

.inset--start {
display: flex;
flex-direction: row-reverse;
gap: var(--grid-column-gap);
}

.inset--end {
display: flex;
flex-direction: row;
gap: var(--grid-column-gap);
}


/* Utilities */
.u-block-margin {
  margin-top: var(--spacing-large);
  margin-bottom: var(--spacing-large);
}

.u-block-margin-top {
  margin-top: var(--spacing-medium);
}

.u-inline-margin {
  margin-left: var(--spacing-large);
  margin-right: var(--spacing-large);
}

.u-block-padding {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}

.u-inline-padding {
  padding-left: var(--spacing-large);
  padding-right: var(--spacing-large);
}

.u-padding--small {
  padding: var(--spacing-small);
}


