// --c-gateway : The Gateway
// --c-newsroom : The Newsroom
// --c-stack : The Stack
// --c-alt : The Alternate  


.c-featured-story-card {
  margin: 1em 0;
  display: block;
}

// BEGIN THEME STYLES

.c-featured-stories:first-of-type {
  width: 100%;
  padding-bottom: .5em;
  background: linear-gradient(180deg, #005587 0%, #2774AE 100%);
  margin: var(--spacing-large) 0;
}

[data-layout*="c-gateway"] {
  display: grid;
  gap: var(--grid-column-gap);
  margin: var(--spacing-large) var(--spacing-default);
  max-width: var(--max-width);
  transform: translateY(-24px);
}

[data-layout*="c-gateway"] article {
  margin-bottom: var(--spacing-medium);
}

@media (min-width: $mq-md) {
  [data-layout*="c-gateway"] {
    display: grid;
    gap: var(--grid-column-gap);
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "🐻 🐻"
      "🏀 🏈";
    margin: var(--spacing-large);
  }

  [data-layout*="c-gateway"] > :nth-child(1) {
    grid-area: 🐻;
  }

  [data-layout*="c-gateway"] > :nth-child(2) {
    grid-area: 🏀;
  }

  [data-layout*="c-gateway"] > :nth-child(3) {
    grid-area: 🏈;
  }

  [data-layout*="c-gateway"] > :first-child h3 {
    padding: 1em 1em .8em;
    width: 66%;
  }

  [data-layout*="c-gateway"] > :not(:first-child) h3 {
    width: 80%;
    padding: 0.75em 1em .5em;
    font-size: 1em;
  }


}

@media (min-width: $mq-lg) {
  [data-layout*="c-gateway"] {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 2.5fr 1fr;
    grid-template-areas:
      "🐻 🏀"
      "🐻 🏈";
    margin: var(--spacing-large) auto;
  }

}


[data-layout*="c-gateway"] > article {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;

  > * {
    grid-row: 1;
    grid-column: 1 / -1;
  }

  > figure {
    z-index: 1;
    padding: 0;
    margin: 0;
  }

  > div {
    z-index: 2;
    height: fit-content;
    align-self: end;
  }

  h3 {
    position: relative;
    background-color: var(--ucla-white);
    color: var(--ucla-blue);
  }

  h3::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: 16px;
    width: 64px;
    height: 4px;
    background: var(--ucla-gold);
    margin-bottom: 24px;
  }

  h3:hover {
    background-color: var(--ucla-blue);
    color: var(--ucla-white);
  }

  .p-summary,
  .dt-published {
    display: none;
  }

  img {
    aspect-ratio: 3 / 2;
    width: 100%;
    object-fit: cover;
  }


  a {
    //display: block;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }

}

// OVERRIDE UCLA WEB COMPONENTS
// .story,
// .story__featured,
// .story__featured-card,
// .story__featured-content,
// .story__featured-image,
// .story__featured-title,
// .story__featured-blurb,
// .story__featured-source {
//   //all: initial;
//   width: initial;
//   max-width: initial;
//   margin: initial;
//   padding: initial;
//   float: initial;
//   position: initial;
//   top: initial;
//   color: initial;
//   //font-size: initial;
//   //font-weight: bold;
//   line-height: initial;
// }

[data-layout*="c-newsroom"] {
  margin: var(--spacing-large) var(--spacing-default);
  width: 100%;
}

[data-layout*="c-newsroom"] img {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  max-width: 100%;
}

[data-layout*="c-newsroom"]  > :nth-child(1) {
  h3 {
    padding-top:  var(--spacing-default);
    font-size: var(--font-size-large);
    line-height: 1.2;
  }
  
  h3 > a {
  text-decoration: none;
  }
  
  p {
    padding-bottom:  var(--spacing-large);
  }
  
  .dt-published {
    display: none;
  }
}

[data-layout*="c-newsroom"] > :not(:nth-child(1)) {
  
      h3 {
        margin-top: var(--spacing-default);
      }
  
      a {
        text-decoration: none;
      }
  
      .p-summary,
      .dt-published {
        display: none;
      }
  }

@media (min-width: $mq-lg) {
  [data-layout*="c-newsroom"] {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "🐻 🐻 🐻"
      "🏀 ⚽️ 🏈";
    max-width: var(--max-width);
    margin: var(--spacing-large) auto; 
    
  }

  [data-layout*="c-newsroom"] > :nth-child(2) {
    grid-area: 🏀;
  }
  
  [data-layout*="c-newsroom"] > :nth-child(3) {
    grid-area: ⚽️;
  }
  
  [data-layout*="c-newsroom"] > :nth-child(4) {
    grid-area: 🏈;
  }

  [data-layout*="c-newsroom"] > :nth-child(1) {
    grid-area: 🐻;
    display: grid;
    grid-template-areas:
      "story";
    align-items: center;
  
    > figure {
      grid-area: story;
      justify-self: end;
      z-index: 1;
      max-width: 66%;
    }
  
  
    > div {
      grid-area: story;
      z-index: 2;
    }
  
    div > * {
      background-color: var(--ucla-white);
      max-width: 33%;
      padding-right: var(--spacing-large);
    }
  
    h3 {
      padding-top:  var(--spacing-large);
      font-size: var(--font-size-x-large);
      line-height: 1.2;
      margin-bottom: 0;
    }
    
  
  }
  

}








// [data-layout*="c-newsroom"] {
//   display: grid;
//   gap: var(--grid-column-gap);
//   margin: var(--spacing-large) auto;
//   max-width: var(--max-width);
//   transform: translateY(-24px);
//   outline: 5px solid rebeccapurple;
// 
//   .story {
//     margin-bottom: 0;
//     padding: 0 10px;
//   }
// 
//   @media (min-width: 1280px) {
//     .story {
//       width: 100%;
//       max-width: 1200px;
//       margin: 0 auto;
//       padding: 0 10px;
//     }
//   }
// 
//   .story__featured {
//     float: left;
//   }
// 
//   @media (min-width: 1024px) {
//     .story__featured {
//       position: relative;
//       width: 100%;
//     }
//   }
// 
//   .story__featured-card {
//     min-height: 540px;
//   }
// 
//   @media (min-width: 1280px) {
//     .story__featured-card {
//       width: 100%;
//       margin-bottom: 0;
//     }
//   }
// 
//   .story__featured-content {
//     margin: 0 25px;
//     padding: 32px;
//     position: relative;
//     top: -24px;
//     background-color: #fff;
//   }
// 
//   @media (min-width: 1024px) {
//     .story__featured-content {
//       margin: 0;
//       width: 576px;
//       position: absolute;
//     }
//   }
// 
//   @media (min-width: 1024px) {
//     .story__featured-content {
//       transform: translateY(100%);
//     }
//   }
// 
//   .story__featured-image {
//     width: 100%;
//     height: auto;
//   }
// 
//   @media (min-width: 1024px) {
//     .story__featured-image {
//       width: 776px;
//       height: 517px;
//       float: right;
//     }
//   }
// 
//   .story__featured-title {
//     font-size: 2.25rem;
//     line-height: 1.125;
//     margin-bottom: 16px;
//   }
// 
//   .story__featured-title > .link {
//     color: #00598c;
//     text-decoration: none;
//   }
// 
//   .story__featured-blurb {
//     margin: 0 0 16px;
//     line-height: 1.5;
//   }
// 
//   .story__featured-source {
//     font-weight: bold;
//     line-height: 1.25;
//   }
// 
//   .story__featured-source > .link {
//     color: #00598c;
//     text-decoration: none;
//   }
// 
//   .story__featured-source > .link:hover {
//     background-color: #0079bf;
//     color: #fff;
//     text-decoration: none;
//   }
// 
//   .story__featured-source > .link:active {
//     background-color: #003b5c;
//     color: #fff;
//     text-decoration: none;
//   }
// 
//   .story__featured-source > .link:focus {
//     background-color: #0079bf;
//     color: #fff;
//     text-decoration: none;
//   }
// 
// }

[data-layout*="c-stack"] {
  margin-bottom: var(--spacing-large);
  // outline: 5px solid dodgerblue;
}

[data-layout*="c-alt"] {
  margin-bottom: var(--spacing-large);
  // outline: 5px solid black;
}