//  =====================================================
//  HTML Living Standard
//  Heading elements (part of section elements)
//  https://html.spec.whatwg.org/multipage/sections.html
//  h1, h2, h3, h4, h5, h6
//  =====================================================

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0 0 var(--spacing-default);
font-family: var(--font-family);
font-weight: var(--font-weight-bold);
line-height: var(--line-height-text-alt);
}

h1,
h2 {
font-size: var(--font-size-x-large);
}

h3,
.h3 {
font-size: var(--font-size-large);
}

p + h3 {
margin-top: var(--spacing-medium);
}

h4 {
font-size: var(--font-size-medium);
}

h5,
h6 {
font-size: var(--font-size-default);
}

h1.alt {
font-size: var(--font-size-xx-large);
}
