//  =====================================================
//  HTML Living Standard
//  Forms
//  https://html.spec.whatwg.org/multipage/forms.html
//  Elements: form, label, input, button, select, datalist, optgroup, option, textarea, output, progress, meter, fieldset, legend
//  =====================================================

input,
button,
textarea,
select {
  font: inherit;
}

// button {
//   display: block;
//   padding: var(--spacing-small) var(--spacing-large);
//   margin: var(--spacing-large) 0;
//   font-family: var(--font-family-display);
//   font-weight: var(--font-weight-bold);
//   letter-spacing: -0.015em;
//   background-color: #efefef;
// }

// form h3 {
//   margin-top: var(--spacing-large);
//   margin-bottom: var(--spacing-x-small);
//   font-size: var(--font-size-medium);
// }

input {
  padding: var(--spacing-default);
}

/* Buttons (Critical: All) */

button {
display: inline-block;
margin: 0;
padding: var(--spacing-default);
background-color: var(--color-theme);
border-width: 0;
color: #fff;
cursor: pointer;
font-size: var(--font-size-default);
font-weight: var(--font-weight-bold);
line-height: 1;
text-decoration: none;
transform: translateY(0);
transition: all var(--duration-quickly) ease;
-webkit-appearance: none;
appearance: none;
}

// .btn:hover {
// position: relative;
// top: -1px;
// color: #fff;
// text-decoration: none;
// }
// 
// .btn:visited {
// color: #fff;
// } 

.btn-group {
padding: var(--spacing-medium) 0;
}
